<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/css/style.css">
<script src="https://kit.fontawesome.com/a5a23010e7.js" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>DogGPT</title>
</head>
<body>
<div class="container">
    <div class="chatbox">

      

        <div class="chatbox__support   grid">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                  
                </div>
                <div class="chatbox__content">
                    <p >DogGPT</p>
                   
                </div>
            </div>

<div class="disapear" id="byee" >
    <div class="itemss">Examples <br> <i class="fa-solid fa-sun"></i></div>
    <div class="itemss">Capabilities <br><i class="fa-solid fa-bolt-lightning"></i></div>
    <div class="itemss">Limitations <br><i class="fa-solid fa-triangle-exclamation"></i></div>
    <div class="itemss">"Fetch me a stick, but make it fancy!" →</div>
    <div class="itemss">Remembers what you said earlier in our barkversation</div>
    <div class="itemss">May occasionally fetch the wrong information, so paw-lease double-check</div>
    <div class="itemss">"How can I sniff out a squirrel in the backyard?" →</div>
    <div class="itemss">Allows you to provide follow-up corrections with a woof or a wag</div>
    <div class="itemss">Limited knowledge of the dog world and events after 2021</div>
</div>



            <div class="chatbox__messages">
                <div></div>
            </div>


<div class="under">
            <div class="chatbox__footer">
                <input  class="input"type="text" placeholder="Send a message...">
                <button onclick="none()" class="chatbox__send--footer send__button"><i class="fa-solid fa-paper-plane"></i></button>
               
        </div>
        <p class="dsc">Free Barksearch Preview. DogGPT may produce inaccurate information about doggos, places to sniff, or barks. DogGPT May 12 Version.</p>

    </div>
            
        </div>
        <div class="chatbox__button">
            <button><img src="./images/chatbox-icon.svg" /></button>
        </div>
    </div>
</div>

    <script src="/static/scripts/app.js"></script>

</body>
</html>